<section class="home-banner">
    <div class="banner-card-background">
        <img class="banner-img" src="../../assets/img/home-banner.jpg" alt="banner">
        <div class="banner-img-gradient"></div>
    </div>
    <div class="banner-card-text">
        <h1 class="banner-card-title">Unlimited movies, TV shows and more.</h1>
        <h2 class="banner-card-subtitle">Watch anywhere. Cancel anytime.</h2>
        <form class="cta-form email-form">
            <h3 class="email-form-title">Ready to watch? Enter your email to create or restart your membership.</h3>
            <div class="email-form-lockup">
                <div class="form-floating">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                </div>
                <div class="our-story-cta-container cta-link-wrapper">
                    <button
                        class="btn btn-red nmhp-cta nmhp-cta-extra-large btn-none btn-custom" type="submit"
                        autocomplete="off" tabindex="0" role="link" data-uia="our-story-cta-hero_fuji">
                        <span class="cta-btn-txt">Get Started</span>
                        <img class="right-arrow" src="../../assets/img/right-arrow.svg" alt="icon">
                    </button>
            </div>
            </div>
        </form>
    </div> 
</section>