<footer class="our-story-card">
    <div class="container">
        <p class="footer-top">Questions? Call <a class="footer-top-a" href="tel:000-800-040-1843 ">000-800-040-1843 </a>
        </p>
        <ul class="footer-links structural">
            <li class="footer-link-item">
                <a class="footer-link" data-uia="footer-link" href="#"><span>FAQ</span></a>
            </li>
            <li class="footer-link-item">
                <a class="footer-link" data-uia="footer-link" href="#"><span>Help Centre</span></a>
            </li>
            <li class="footer-link-item">
                <a class="footer-link" data-uia="footer-link" href="#"><span>Account</span></a>
            </li>
            <li class="footer-link-item">
                <a class="footer-link" data-uia="footer-link" href="#"><span>Media Centre</span></a>
            </li>
            <li class="footer-link-item">
                <a class="footer-link" data-uia="footer-link" href="#"><span>Investor Relations</span></a>
            </li>
            <li class="footer-link-item">
                <a class="footer-link" data-uia="footer-link" href="#"><span>Jobs</span></a>
            </li>

            <li class="footer-link-item">
                <a class="footer-link" data-uia="footer-link" href="#"><span>Ways to Watch</span></a>
            </li>
            <li class="footer-link-item">
                <a class="footer-link" data-uia="footer-link" href="#"><span>Terms of Use</span></a>
            </li>

            <li class="footer-link-item">
                <a class="footer-link" data-uia="footer-link" href="#"><span>Privacy</span></a>
            </li>
            <li class="footer-link-item">
                <a class="footer-link" data-uia="footer-link" href="#"><span>Cookie Preferences</span></a>
            </li>
            <li class="footer-link-item">
                <a class="footer-link" data-uia="footer-link" href="#"><span>Corporate Information</span></a>
            </li>
            <li class="footer-link-item">
                <a class="footer-link" data-uia="footer-link" href="#"><span>Contact Us</span></a>
            </li>
            <li class="footer-link-item">
                <a class="footer-link" data-uia="footer-link" href="#"><span>Speed Test</span></a>
            </li>

            <li class="footer-link-item">
                <a class="footer-link" data-uia="footer-link" href="#"><span>Legal Notices</span></a>
            </li>
            <li class="footer-link-item">
                <a class="footer-link" data-uia="footer-link" href="#"><span>Only on Netflix</span></a>
            </li>

        </ul>
        <div class="lang-selection-container" id="lang-switcher">
            <div data-uia="language-picker-header+container" class="ui-select-wrapper"><label
                    for="lang-switcher-header-select" class="ui-label"><span class="ui-label-text">Select
                        Language</span></label>
                <div class="select-arrow medium prefix">
                    <img class="icon" src="../../assets/img/earth.svg" alt="icon">
                    <select class="ui-select medium" placeholder="lang-switcher">
                        <option selected="" lang="en" value="/Ca/" data-language="en" data-country="CA">English</option>
                        <option lang="hi" value="/in-fr/" data-language="fr" data-country="CA">French</option>
                    </select>
                    <img class="arrow-icon" src="../../assets/img/down-arrow.svg" alt="icon">
                </div>
            </div>
        </div>
        <p class="footer-country">Netflix Canada </p>
    </div>
</footer>