<section class="our-story-card watchOnTv">
    <div class="container">
        <div class="col-12">
            <div class="row">
                <div class="col-sm-6">
                    <div class="our-story-card-text">
                        <h1 class="our-story-card-title">Enjoy on your TV.</h1>
                        <h2 class="our-story-card-subtitle">Watch on smart TVs,
                            PlayStation, Xbox, Chromecast, Apple TV, Blu-ray players and more.</h2>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="our-story-card-animation-container">
                        <img alt="" class="our-story-card-img" src="../../assets/img/tv.png">
                        <div class="our-story-card-animation"><video class="our-story-card-video" autoplay=""
                                playsinline="" muted="" loop="">
                                <source src="../../assets/img/video-tv-in-0819.m4v" type="video/mp4">
                            </video>
                            <div class="our-story-card-animation-text"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="our-story-card downloadAndWatch">
    <div class="container">
        <div class="col-12">
            <div class="row">
                <div class="col-sm-6">
                    <div class="our-story-card-animation-container">
                        <img alt="" class="our-story-card-img" src="../../assets/img/mobile-0819.jpg">
                        <div class="our-story-card-animation">
                            <div class="our-story-card-animation-image"><img alt=""
                                    src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/boxshot.png">
                            </div>
                            <div class="our-story-card-animation-text">
                                <div>
                                    <div class="text-0">Stranger Things</div>
                                    <div class="text-1">Downloading...</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="our-story-card-text">
                        <h1 class="our-story-card-title">Download your shows to watch offline.</h1>
                        <h2 class="our-story-card-subtitle">Save your favourites easily and always have something to
                            watch.</h2>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<section class="our-story-card watchOnDevice">
    <div class="container">
        <div class="col-12">
            <div class="row">
                <div class="col-sm-6">
                    <div class="our-story-card-text">
                        <h1 class="our-story-card-title">Watch everywhere.</h1>
                        <h2 class="our-story-card-subtitle">Stream unlimited movies and TV shows on your phone, tablet,
                            laptop, and TV.</h2>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="our-story-card-img-container">
                        <div class="our-story-card-animation-container"><img alt="" class="our-story-card-img"
                                src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/device-pile-in.png">
                            <div class="our-story-card-animation"><video class="our-story-card-video" autoplay=""
                                    playsinline="" muted="" loop="">
                                    <source
                                        src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/video-devices-in.m4v"
                                        type="video/mp4">
                                </video>
                                <div class="our-story-card-animation-text"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="our-story-card kidsValueProp">
    <div class="container">
        <div class="col-12">
            <div class="row">
                <div class="col-sm-6">
                    <div class="our-story-card-animation-container"><img alt="" class="our-story-card-img"
                            src="https://occ-0-2596-2186.1.nflxso.net/dnm/api/v6/19OhWN2dO19C9txTON9tvTFtefw/AAAABVxdX2WnFSp49eXb1do0euaj-F8upNImjofE77XStKhf5kUHG94DPlTiGYqPeYNtiox-82NWEK0Ls3CnLe3WWClGdiJP.png?r=5cf">
                        <div class="our-story-card-animation">
                            <div class="our-story-card-animation-text"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="our-story-card-text">
                        <h1 class="our-story-card-title">Create profiles for children.</h1>
                        <h2 class="our-story-card-subtitle">Send children on adventures with their favourite characters
                            in a space made just for them—free with your membership.</h2>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>